body {
  padding-top: 50px;
  background-color: rgb(247, 247, 247);
}

.container {
  text-align: center;
}

#worldmap {
  position: relative;
  margin: 0px auto;
  width: 550px;
  height: 400px;
}

#twitter{
  margin-top: 10px;
}

#footer{
  height: 25px;
}

.lightlink{
  color: white;
}
